In [1]:
# import the required modules
import pandas as pd

In [2]:
# load the data 
data = pd.read_csv(filepath_or_buffer="./data/ch2data.csv", sep=",",header = 0)

In [3]:
data.head()

   a_cap  b_cap  res_cap
0   0.18   0.34        0
1   0.19   0.29        1
2   0.52   0.91        0
3   0.37   0.50        1
4   0.80   0.66        0

In [4]:
data.isna().sum() # are there any nulls

a_cap      0
b_cap      0
res_cap    0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   a_cap    19 non-null     float64
 1   b_cap    19 non-null     float64
 2   res_cap  19 non-null     int64
dtypes: float64(2), int64(1)
memory usage: 588.0 bytes

In [6]:
# convert the res data type to str as they are labels in this case
data.res_cap = data.res_cap.astype(dtype=str, errors = "raise")

In [7]:
type(data.res_cap[0])

str

---
### In memoriser, we have to memorise the sample observations and  make a proposition s.t.:
* if the sample observation exists => return the corresponding label
* else, return the majority vote
---

In [8]:
def getMajVote(labels_series : pd.Series) -> str:
    """Return the most frequent label in the series. If no-mode or multimodal, then returns the first component or first mode respectively."""
    mode_label =  labels_series.mode()[0]
    return mode_label

In [9]:
def getLabelIfObservationExists(data : pd.DataFrame, observation : list)-> (bool, str):
    """If the observation(X_superscript_i) exist in the data set, then return actual corresponding label, else return "-1"."""
    for row_idx in range(0, data.shape[0] - 1) :
        match_count = 0
        for col_idx in range(0, data.shape[1] - 1) :
            if data.iloc[row_idx, col_idx] == observation[col_idx]:
                match_count +=1
                if match_count == data.shape[1]-1:
                    return data.iloc[row_idx, col_idx+1]
            else:
                continue
    return "-1"

In [10]:
def predict(train_data, observation : list) -> str:
    """If the sample observation exists then return the corresponding label, else return the majority vote label."""
    res = getLabelIfObservationExists(train_data, observation)
    if res == "-1":
        return getMajVote(data.res_cap)
    else:
        return res

In [11]:
data.head(10)

   a_cap  b_cap res_cap
0   0.18   0.34       0
1   0.19   0.29       1
2   0.52   0.91       0
3   0.37   0.50       1
4   0.80   0.66       0
5   0.26   0.42       1
6   0.95   0.62       0
7   0.69   0.84       1
8   0.37   0.18       0
9   0.11   0.78       0

In [12]:
predict(data.copy(), [0.80, 0.66])

'0'

In [13]:
predict(data.copy(), [0.69, 0.84])

'1'